/* Estilos para o botão flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 110px; /* Ajustado para ficar abaixo do carrinho */
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float i {
    margin-top: 16px;
}

/* Responsividade para telas menores */
@media screen and (max-width: 767px) {
    .whatsapp-float {
        width: 50px;
        height: 50px;
        bottom: 90px;
        right: 20px;
        font-size: 24px;
    }
    .whatsapp-float i {
        margin-top: 13px;
    }
}

